.subtitle {
  font-size: 1rem;
  color: white;
  margin-bottom: 16px;
}

.highlight-name {
  font-weight: 600;
  color: #facc15;
  text-decoration: none;
  transition: color 0.2s ease;
}

.highlight-name:hover {
  color: #fde68a;
  text-decoration: underline;
}

.home-card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 2rem;
  margin-top: 24px;
  /* border: 1px solid orange; */
  max-height: 600px;
  
}
@media screen and (max-width: 950px) {
  .home-card-grid {
    grid-template-columns: 1fr;
  }
}

.home-card{
  position: relative;
  display:flex;
  border-radius: 30px;
  overflow: hidden;
  padding: 20px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
  height: 300px;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.home-card-blue {
  background: #097ff5;
}

.home-card-blue:hover{
  background: #1288ff;
}

.home-card-black {
  background: var(--black-700);
}

.home-card-black:hover{
  background: var(--black-500);
}

.home-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 20px;
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
  pointer-events: none;
}

.card-img-wrapper {
  /* border: 1px solid orange; */
  position: relative;

  height: 220px;
  flex: 0 0 50%;

  overflow: hidden;
  margin-bottom: 12px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
  
  border-radius: 10px;
  margin-bottom: 12px;
  border-radius: 12px;
}


.card-img-wrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.25));
  pointer-events: none;
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-details {
  /* border: 1px solid green; */
  height: 100%;
  flex: 0 0 50%;
  display:flex;
  flex-direction: column;
  justify-content: space-between;

}
.card-title {
  font-weight: 600;
  font-size: 2.2vw;
  margin-bottom: 8px;
}

.card-desc {
  font-size: 1.2vw;
}

@media screen and (max-width: 950px) {
  .card-title {
    font-size: 1.75rem;
  }

  .card-desc {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 1600px) {
  .card-title {
    font-size: 2rem;
  }

  .card-desc {
    font-size: 1.25rem;
  }
}

.card-download-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  color:black;
  border:none;
  background:transparent;
  padding-bottom: 2rem;

}

