.logo-cont {
  width: 100%;
  min-height: 75px;
  max-height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0rem;
}

.logo-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* Navigation bar */
/* 
  Citation for the following navigation styles:
  ChatGpt - To research CSS properties
  Prompt: 1) Can you remind me how to make the navbar fixed at a certain position on
  the left side of the screen with full height?
  2) How does the position property work in CSS?

*/
.navlink-anchor {
  width: 100%;
  /* border: 1px solid red; */
  display:flex;
  align-items: center;
  gap: 0.8rem;
  border-radius: 18px;
  padding: 0.4rem;
  font-size: 0.9rem;
}

.navlink-anchor.active {
  background-color: var(--black-400);
}

.navlink-anchor.active .navlink-icon {
  background-color: var(--black-300);
}

.navlink-anchor:hover {
  background-color: var(--black-400);
}

.navlink-anchor:hover .navlink-icon {
  background-color: var(--black-300);
}


.navlink-icon {
  width: 38px;
  height: 38px;
  display: inline-block;
  /* border: 1px solid blue; */
  padding: 8px;
  border-radius: 10px;
}
.navlink-label {

}


